.DS_Store
.idea/workspace.xml
Labs/Lab2/nkoch_951763081_Lab2.zip
Labs/Lab2/Screen Shot 2021-10-12 at 19.04.09.png
Labs/Lab2/Screen Shot 2021-10-12 at 19.13.50.png
Projects/project2/screenshots/part4-2_running.png
Projects/project2/screenshots/part4-1_running.png
Projects/project2/screenshots/part3-2_running.png
Projects/project2/screenshots/part3-1_running.png
Projects/project2/screenshots/part1&part2_running.png
Projects/project2/screenshots/compile.png
Projects/project2/report.pdf
Projects/project2/log_files/log1.txt
Projects/project2/log_files/log2.txt
Projects/project2/log_files/log3.txt
Projects/project2/log_files/log4.txt
Labs/Lab3/reopen_read.c
Labs/Lab4/lab4.c
Labs/Lab4/nkoch_951763081_Lab4.zip
Labs/Lab4/Screen Shot 2021-10-26 at 20.25.46.png
Labs/Lab5/makefile
Labs/Lab5/nkoch_951763081_Lab5.zip
Labs/Lab5/part1.c
Labs/Lab5/part2.c
Labs/Lab5/string_parser.c
Labs/Lab5/string_parser.h
Labs/Lab7/account.h
Labs/Lab7/bank.c
Labs/Lab7/bank.h
Labs/Lab7/makefile
Labs/Lab7/nkoch_951763081_Lab7.zip
Labs/Lab7/string_parser.c
Labs/Lab7/string_parser.h
Projects/project1/CIS 422 Class Schedule.pages
Projects/project1/nkoch_951763081_Project1.zip
Projects/project1/output.txt
Projects/project1/nkoch_951763081_Project1/command.c
Projects/project1/nkoch_951763081_Project1/command.h
Projects/project1/nkoch_951763081_Project1/main.c
Projects/project1/nkoch_951763081_Project1/makefile
Projects/project1/nkoch_951763081_Project1/report.pdf
Projects/project1/nkoch_951763081_Project1/Screen Shot 2021-10-17 at 21.38.24.png
Projects/project1/nkoch_951763081_Project1/string_parser.c
Labs/Lab4/lab4.c
Projects/project2/nkoch_951763081_Project2.zip
Projects/project1/nkoch_951763081_Project1/string_parser.h
Labs/Lab3/reopen_read.c